/* typographic reset */

html, body, section, nav, article, aside, h1, h2, h3, h4, h5, h6, hgroup, header, footer, address, p, hr, pre, blockquote, ol, ul, li, dl, dt, dd, figure, figcaption, div, table, caption, form, fieldset {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

/* -------------------------- */
/* Variables */
/* -------------------------- */
:root {
  --gap: 1.25rem;
}

@media screen and (min-width: 64em) {

}

@font-face {
    font-family: 'YoungSerif';
    src: url('fonts/YoungSerif.woff2') format('woff2');
}

@font-face {
    font-family: 'Orkney';
    src: url('fonts/Orkney Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Orkney';
    src: url('fonts/Orkney Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Orkney';
    src: url('fonts/Orkney Regular Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Orkney';
    src: url('fonts/Orkney Bold Italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

body {
  font-family: 'Orkney', sans-serif;
  padding: 0 var(--gap);
  font-size: var(--font-size);
}

img {
  border-style: none;
}


/* -------------------------- */
/* Typography */
/* -------------------------- */

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
h1,h2,h3,h4,h5 {
  font-family: 'YoungSerif', serif;
}
p, ul, ol, dl, h6, .h6 {
  max-width: 38rem;
  font-size: 1rem; /* 16px */
  margin: 1.3125em 0; /* 21px */
  line-height: 1.3125em; /* 21px */
}

h6, .h6 {
  font-family: 'Orkney', sans-serif;
  text-transform: uppercase;
}

h5, .h5 {
  font-size: 1.25rem; /* 20px */
  margin: 1.05em 0; /* 21px */
  line-height: 1.05em; /* 21px; */
}

h4, .h4 {
  
}


*:target {
  background-color: yellow;
}

@supports (animation: highlight) {
  *:target {
    background-color: transparent;
    animation: highlight 2s;
  }
}

@keyframes highlight {
  from {
    background-color: yellow;
  }
  to {
    background-color: transparent;
  }
}

a:focus {
  outline: 1px solid;
}