---
title: "Jon Roobottom’s CV"
layout: article.njk
---
<header class="grid">
  <h1 class="grid-full margin-bottom-double">{{ title }}</h1>
  <div class="lead">
    <p>I’m a designer with two decades experience of creating user-centred products and services. I help organisations build great products, manage happy agile teams and have potent ideas.</p>
  </div>
</header>

<main class="grid">

  <h2 id="skills" class="timeline-heading">Skills</h2>
  <section class="timeline">
    <article class="timeline-item">
      {% for title, skillsGroup in skills %}
      <h3 class="margin-bottom-single {% if not loop.first %}margin-top-single{% endif %}">{{ title }}</h3>
      <ul class="skills">
        {%- for skill in skillsGroup %}
        <li>{{ skill }}</li>
        {% endfor -%}
      </ul>
     {% endfor %}
    </article> 
  </section>
  
  <h2 id="experience" class="timeline-heading">Experience</h2>
  <section class="timeline">
    {% for role in collections.experience | reverse %}
    <article class="timeline-item">
     <h3 class="margin-bottom-quarter timeline-item-heading">{{ role.data.title }}</h3>
     <p class="date margin-bottom-single">from {{ role.data.date | date }} {{ 'to ' + role.data.end | date if role.data.end }}</p>
     <div class="prose">
     {{ role.content | safe }}
     </div>
    </article>
    {% endfor %}
  </section>

  <h2 id="education" class="timeline-heading">Education</h2>
  <section class="timeline">
    <article class="timeline-item">
      <p>2:1 BSc (HONS) Multimedia Technology from the University of Huddersfield in 2003</p>
    </article>
  </section>
  
  <h2 id="contact" class="timeline-heading">Contact me</h2>
  <section class="timeline">
    <article class="timeline-item">
      <div class="prose">
        <ul>
          <li>Location Littlehampton (near Brighton)</li>
          <li>Phone 07766 256899</li>
          <li>Email <a href="mailto:roo@roodesign.co.uk">roo@roodesign.co.uk</a></li>
          <li>Websites <a href="https://roodesign.co.uk">roodesign.co.uk</a> and <a href="https://roobottom.com">roobottom.com</a></li>
          <li><a href="https://www.linkedin.com/in/roobottom">LinkedIn</a></li>
        </ul>
      </div>
    </article> 
  </section>

  <section class="teaser">
    <div class="prose">
      <p><a href="https://cv.roobottom.com/jon-roobottom-cv.pdf">Download a PDF</a>.</p>
      <p>Each time I make an update, a new PDF version is built automatically. You can <a href="https://github.com/roobottom/cv">view the source code</a> if you’d like.</p>
    </div>
  </section>

</main>