---
title: "Jon Roobottom’s CV"
layout: article.njk
---
{# markdown content #}


{# render page #}
<header class="grid">
  <h1 class="grid-full margin-bottom-double">{{ title }}</h1>
  <div class="lead">
    
  </div>
</header>

<main class="grid">
  <h2 id="experience" class="timeline-heading">Experience</h2>
  <section class="timeline">
    {% for role in collections.experience | reverse %}
    <article class="timeline-item">
     <h3 class="margin-bottom-quarter">{{ role.data.title }}</h3>
     <p class="date">from {{ role.data.date | date }} {{ 'to ' + role.data.end | date if role.data.end }}</p>
     {{ role.content | safe }}
    </article>
    {% endfor %}
  </section>
  <h2 id="education" class="timeline-heading">Education</h2>
  <section class="timeline">
    <article class="timeline-item">
      <p>2:1 BSc (HONS) Multimedia Technology from the University of Huddersfield in 2003</p>
    </article>
  </section>
  <h2 id="skills" class="timeline-heading">Skills</h2>
  <section class="timeline">
    <article class="timeline-item">

    </article> 
  </section>
  <h2 id="contact" class="timeline-heading">Contact me</h2>
  <section class="timeline">
    <article class="timeline-item">

    </article> 
  </section>

  <section class="teaser grid-full">

  </section>

</main>