.skills {
  display: flex;
  flex-wrap: wrap;
  gap: @gap-rem / 2;
  #type > #font > .mono();
  li {
    display: block;
    padding: @gap-rem / 4 @gap-rem / 2;
    border-radius: @gap-rem / 4;
    background-color: #F1F1F1;
    #type > #size > .small;
    margin: 0;
  }
}